[submodule "scylladb"]
	path = scylladb
	url = https://github.com/m-szymon/scylladb.git
	branch = master
[submodule "vector-store"]
	path = vector-store
	url = https://github.com/m-szymon/vector-store.git
	branch = master
[submodule "scylla-cluster-tests"]
	path = scylla-cluster-tests
	url = https://github.com/m-szymon/scylla-cluster-tests.git
	branch = pr/fts-aws-run
